[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
python-jose = "*"
flask-cors = "*"
six = "*"
sqlalchemy = "*"
graphene = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"
graphene-sqlalchemy-filter = "*"
gunicorn = "*"
boto3 = "*"

[requires]
python_version = "3.8"